<!DOCTYPE html>
<script>
    //variables declaration
    var ABI;
    var web3;
    var myAddress;
    var contractAddress = "0xAcF4d6ca222805F88C7606e7fE67fD9c51D9798A";
    var creatorAddress = "0x38fDDa8BAdf340848c5EA333393a27E5D822a6E7".toLowerCase();
    var contract;
</script>
<script>
    //load the ABI from the json file
    function LoadFile() 
    {
        var frame = document.getElementById("ABIframe");
        var rawContents = frame.contentWindow.document.body.childNodes[0].innerHTML;
        while (rawContents.indexOf("\r") >= 0)
            rawContents = rawContents.replace("\r", "");
        var lines = rawContents.split("\n");
        var abi_str = "";
        for (var i = 0; i < lines.length; i++)
            abi_str = abi_str + lines[i];
        ABI = JSON.parse(abi_str);
    }
    </script>
<html style="min-height: 100%;" lang="en">
	<meta charset="utf-8">
	<head>
		<title>Creator Page</title>
		<!-- fancy styling of the page -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
	</head>
	<body style="background-image:linear-gradient(#201e26, black); font-family: 'Poppins';">
        <iframe id="ABIframe" src="ABI.json" style="display: none;"></iframe>
        <nav style="background-color: #201e26;">
            <ul class="navbar nav-tabs" style="border: none">
                <li class="nav-item">
                    <a class="nav-link" href="index.html" style="color:white;">Bet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="market.html" style="color:white">Market</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color:white">Recap Bets</a>
                </li>
                <li class="nav-item" style="display: none;" id="creatorSection">
                    <a class="nav-link active" href="#" style="color:white; background-color: #201e26;">Creator</a>
                </li>
                <li class="nav-item ml-auto">
                    <a class="nav-link disabled" style="color:white">
                        <img src="img/entrytoken.webp" width="30" height="30" class="d-inline-block align-top" alt="">
                        <label id="entryTokens">0</label>
                    </a>
                </li>
                <li class="nav-item">
                        <a class="nav-link disabled" style="color:white">
                            <img src="img/supertoken.webp" width="30" height="30" class="d-inline-block align-top" alt="">
                            <label id="superTokens">0</label>
                        </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" style="color:white">
                        <img src="img/ethereum.webp" width="30" height="30" class="d-inline-block align-top" alt="">
                        <label id="ether">0</label>
                    </a>
                <li class="nav-item">
                    <a class="nav-link disabled" style="color:white" id="address">0x...</a>
                </li>
            </ul>
        </nav>
		<main class="container">
            <h1 class="text-white">Forge NFT</h1>
            <form id="form" action="#" method="POST" enctype="multipart/form-data">
            <div class="row">
            <div class="col-sm-12">
                <label class="form-label text-white" for="file">Image file for the NFT</label>
                <input name="file" type="file" class="form-control" id="file" onchange="displayImage()"/>
                <input type="text" id="hash" name="hash" style="display: none;"/>
                <img id="image" src="" width="200" height="200" style="display: none;"/>
            </div>
            <div class="col-sm-2" style="margin-top:10px;">
                <label style="display: inline-block; width: 200px; color:white">How much superTokens:</label>
                <input type="number" style="outline: #201e26;" id="quantity" name="quantity" min="1" placeholder="1"></input>
            </div>
            <div class="col-sm-12" style="margin-top: 10px;">
                <button type="button" class="btn btn-outline-light" onclick="forgeNFT();">Load NFT</button>
            </div>
            </div>
        </form>
        <h1 class="text-white">Pay4Win</h1>
		</main>
	</body>
<!-- Javascript libraries (to ease life) -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!--  Our connection to the blockchain -->
<script src="js/web3.min.js"></script>
<script src="https://unpkg.com/@metamask/legacy-web3@latest/dist/metamask.web3.min.js"></script>


<script>
    var imageHash;
    //utility functions
    function displayImage()
    {
        var file = document.getElementById("file").files[0];
        var render = new FileReader();
        render.onload = function(e) {
            var img = document.getElementById("image");
            img.src = e.target.result;
            img.width = 200;
            img.height = 200;
            img.style.display = "block";
            imageHash = web3.utils.sha3(e.target.result);
            //console.log(typeof(e.target.result))
        };
        render.readAsDataURL(file);
    }
    async function forgeNFT() {
        var file = document.getElementById("file").files[0];
        var zero = "0x0000000000000000000000000000000000000000000000000000000000000000";
        console.log("Uploaded image whose hash is: "+imageHash);
        var quantity = parseInt(document.getElementById("quantity").value);
        contract.methods.NFTs(imageHash).call().then(function(res) {
            console.log(res[0]);
            if (res[0] !== zero)
            {
                alert("NFT already forged");
                return;
            }
            else
            {
                console.log("Forging NFT")
                console.log("Quantity: "+quantity)
                console.log("My address: "+myAddress)
                contract.methods.forge_NFT(imageHash, quantity).send({from: myAddress}).then(function() {
                alert("NFT forged");
                document.getElementById("hash").value = imageHash;
                document.getElementById("form").submit();
                });
            }
        });
    }
    function updateEther()
    {
        web3.eth.getBalance(myAddress).then(function(result) {
            document.getElementById("ether").innerHTML = web3.utils.fromWei(result, "ether");
            });
    }
    function updateAccountInfo(address)
    {
        myAddress = address;
        document.getElementById("address").innerHTML = myAddress;
        contract.methods.entryTokens(myAddress).call().then(function(result) 
        {
            document.getElementById("entryTokens").innerHTML = result;
        });
        contract.methods.superTokens(myAddress).call().then(function(result)
        {
        document.getElementById("superTokens").innerHTML = result;
        });
        web3.eth.getBalance(myAddress).then(function(result) 
        {
        document.getElementById("ether").innerHTML = web3.utils.fromWei(result, "ether");
        });
        if(myAddress == creatorAddress)
            document.getElementById("creatorSection").style.display = "block";
        else
            document.getElementById("creatorSection").style.display = "none";
    }
    async function getAddress()
    {
        await window.ethereum.request({ method: 'eth_requestAccounts' }).then(function(result) 
        {
            if (result.length == 0)
            {
                alert("You need to have metamask installed and connected to the blockchain");
                return;
            }
            updateAccountInfo(result[0]);
        });
    }

</script>

<script>
    getAddress();
    ethereum.on('accountsChanged', (accounts) => 
        {
            console.log("Account changed to " + accounts[0]);
            updateAccountInfo(accounts[0]);
        });
    //var ABI = JSON.parse(sessionStorage.getItem("ABI"));
    LoadFile(); // this was in on load of the frame. I moved it here to make it work (i hope)
    // TODO it should work...
    var contract = new web3.eth.Contract(ABI, contractAddress);
</script>