<!DOCTYPE html>
<script>
    //variables declaration
    var ABI;
    var web3;
    var myAddress;
    var contract;
    var imageHash;
    var nftDescription;
</script>
<html style="min-height: 100%;" lang="en">
	<meta charset="utf-8">
	<head>
		<title>Creator Page</title>
		<!-- fancy styling of the page -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
	</head>
	<body style="background-image:linear-gradient(#201e26, black); font-family: 'Poppins';">
        <iframe id="ABIframe" src="ABI.json" style="display: none;"></iframe>
        <nav style="background-color: #201e26;">
            <ul class="navbar nav-tabs" style="border: none">
                <li class="nav-item" style="display: none;" id="creatorSection">
                    <a class="nav-link active" href="#" style="color:white; background-color: #201e26;">Creator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="market.html" style="color:white">Market</a>
                </li>
                <li class="nav-item ml-auto">
                    <a class="nav-link disabled" style="color:white">
                        <img src="img/entrytoken.webp" width="30" height="30" class="d-inline-block align-top" alt="">
                        <label id="entryTokens">0</label>
                    </a>
                </li>
                <li class="nav-item">
                        <a class="nav-link disabled" style="color:white">
                            <img src="img/supertoken.webp" width="30" height="30" class="d-inline-block align-top" alt="">
                            <label id="superTokens">0</label>
                        </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" style="color:white">
                        <img src="img/ethereum.webp" width="30" height="30" class="d-inline-block align-top" alt="">
                        <label id="ether">0</label>
                    </a>
                <li class="nav-item">
                    <a class="nav-link disabled" style="color:white" id="address">0x...</a>
                </li>
            </ul>
        </nav>
		<main class="container">
            <h1 class="text-white">Forge NFT</h1>
            <form id="form" action="#" method="POST" enctype="multipart/form-data">
            <div class="row">
            <div class="col-sm-12">
                <label class="form-label text-white" for="file">Image file for the NFT</label>
                <input name="file" type="file" class="form-control" id="file" onchange="displayImage()"/>
                <input type="text" id="description" name="description" placeholder="Name of the NFT" style="display: none; margin-top: 10px;"/>
                <input type="text" id="hash" name="hash" style="display: none;"/>
                <div id="radioContainer" class="btn-group" style="display: none; margin-top: 10px;">
                    <label style="display: inline-block; width: 200px; color:white">Choose the rarity (Bronze, Silver, Gold):</label>
                    <input id="bronze" type="radio" class="btn-check" name="options" autocomplete="off" checked>
                    <img src="img/bronze.png" width="50" height="50" style="display: inline-block;"/>
                    <input id="silver" type="radio" class="btn-check" name="options" autocomplete="off">
                    <img src="img/silver.png" width="50" height="50" style="display: inline-block;"/>
                    <input id="gold" type="radio" class="btn-check" name="options" autocomplete="off">
                    <img src="img/gold.png" width="50" height="50" style="display: inline-block;"/>
                </div>
                <img id="image" src="" width="200" height="200" style="display: none;"/>
            </div>
            <div class="col-sm-2" style="margin-top:10px; display: none" id="superTokensContainer">
                <label style="display: inline-block; width: 200px; color:white">How much superTokens:</label>
                <input type="number" style="outline: #201e26;" id="quantity" name="quantity" min="1" placeholder="1"></input>
            </div>
            <div class="col-sm-12" id="loadNFTContainer" style="margin-top: 10px; display: none;">
                <button type="button" class="btn btn-outline-light" onclick="forgeNFT();">Load NFT</button>
            </div>
            </div>
        </form>
        <h1 id="pay4winLabel" class="text-white" style="display: none;">Pay winning bets</h1>
        <div id="accordion">
        </div>
		</main>
	</body>
<!-- Javascript libraries (to ease life) -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!--  Our connection to the blockchain -->
<script src="js/web3.min.js"></script>
<script src="https://unpkg.com/@metamask/legacy-web3@latest/dist/metamask.web3.min.js"></script>
<!--  Our contract -->
<script src="js/creator.js"></script>
<script src="js/utils.js"></script>

<script>
    $(document).ready(function() {
        console.log("document ready");
        getContract();
        getAddress().then(function() {
            if(myAddress != creatorAddress)
                document.location.href = "index.html";
            
            var file = document.getElementById("file").files[0];
            // if an image is loaded, display it
            if(file != undefined)
                displayImage();

            if(bets.length > 0)
            {
                document.getElementById("pay4winLabel").style.display = "block";
                var cardsList = document.getElementById("accordion");
                var html = "<div class='card'><div class='card-header text-white' style='background-color:#1f0961'>"
                html += "<div class='row'><div class='col-2' ><h6 class='mb-0' style='text-align: left;'> Block</h5></div>";
                html += "<div class='col-8' ><h6 class='mb-0' style='text-align: center;'> Hash </h5></div>";
                html += "<div class='col-2' ><h6 class='mb-0' style='text-align: right;'>  </h5></div></div>";
                cardsList.innerHTML = html;
                getBets(bets.length-1);
            }

        })
    });
    if (!window.ethereum)
    {
        alert("You need to have metamask installed and connected to the blockchain");
    }
    ethereum.on('accountsChanged', (accounts) => 
        {
            console.log("Account changed to " + accounts[0]);
            if(accounts[0] != creatorAddress)
                document.location.href = "index.html";
            updateAccountInfo(accounts[0]);
            var cardsList = document.getElementById("accordion");
            var html = "<div class='card'><div class='card-header text-white' style='background-color:#1f0961'>"
            html += "<div class='row'><div class='col-2' ><h6 class='mb-0' style='text-align: left;'> Block</h5></div>";
            html += "<div class='col-8' ><h6 class='mb-0' style='text-align: center;'> Hash </h5></div>";
            html += "<div class='col-2' ><h6 class='mb-0' style='text-align: right;'>  </h5></div></div>";
            cardsList.innerHTML = html;
            getBets(bets.length-1);
        });  
</script>