<!DOCTYPE html>
<script>
    //variables declaration
    var ABI;
    var web3;
    var myAddress;
    var entryTokensPrice = 0;
    var contractAddress = "0x2Db1f4031FA33088162804d22606e4A54B33a258";
    var creatorAddress = "0x1DA5B6A0aF8F5f5950Dcde01277FD731D1c7774a".toLowerCase();
    var contract;
    var seriea;
    var bundesliga;
    var ligue1;
    var premierleague;
    var eredivisie;
    var laliga;
    var serieaCreated = false;
    var bundesligaCreated = false;
    var ligue1Created = false;
    var premierleagueCreated = false;
    var eredivisieCreated = false;
    var laligaCreated = false;
</script>
<script>
    //load the ABI from the json file
    async function LoadFileToJSON(id) 
    {
        var frame = document.getElementById(id);
        var rawContents = frame.contentWindow.document.body.childNodes[0].innerHTML;
        while (rawContents.indexOf("\r") >= 0)
            rawContents = rawContents.replace("\r", "");
        var lines = rawContents.split("\n");
        var abi_str = "";
        for (var i = 0; i < lines.length; i++)
            abi_str = abi_str + lines[i];
        
        json = await JSON.parse(abi_str);
        return json;
    }
    </script>
    <script>
        async function getMatches()
        {
            seriea = await LoadFileToJSON("serieah");
            bundesliga = await LoadFileToJSON("bundesligah");
            ligue1 = await LoadFileToJSON("ligue1h");
            premierleague = await LoadFileToJSON("premierleagueh");
            laliga = await LoadFileToJSON("laligah");
            eredivisie = await LoadFileToJSON("eredivisieh");
        }
    </script>
<html style="min-height: 100%;" lang="en">
	<meta charset="utf-8">
	<head>
		<title>Bet Page</title>
		<!-- fancy styling of the page -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
	</head>
	<body style="background-image:linear-gradient(#201e26, black); font-family: 'Poppins';">
        <iframe id="ABIframe" src="ABI.json" style="display: none;"></iframe>
        <iframe id="serieah" src="/matches/seriea.json" style="display: none;"></iframe>
        <iframe id="laligah" src="/matches/laliga.json" style="display: none;"></iframe>
        <iframe id="bundesligah" src="/matches/bundesliga.json" style="display: none;"></iframe>
        <iframe id="ligue1h" src="/matches/ligue1.json" style="display: none;"></iframe>
        <iframe id="premierleagueh" src="/matches/premierleague.json" style="display: none;"></iframe>
        <iframe id="eredivisieh" src="/matches/eredivisie.json" style="display: none;"></iframe>
        <nav style="background-color: #201e26;">
            <ul class="navbar nav-tabs" style="border: none">
                <li class="nav-item">
                    <a class="nav-link active" href="#" style="color:white; background-color: #201e26;">Bet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="market.html" style="color:white">Market</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color:white">Recap Bets</a>
                </li>
                <li class="nav-item" style="display: none;" id="creatorSection">
                    <a class="nav-link" href="creator.html" style="color:white">Creator</a>
                </li>
                <li class="nav-item ml-auto">
                    <a class="nav-link disabled" style="color:white">
                        <img src="img/entrytoken.webp" width="30" height="30" class="d-inline-block align-top" alt="">
                        <label id="entryTokens">0</label>
                    </a>
                </li>
                <li class="nav-item">
                        <a class="nav-link disabled" style="color:white">
                            <img src="img/supertoken.webp" width="30" height="30" class="d-inline-block align-top" alt="">
                            <label id="superTokens">0</label>
                        </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" style="color:white">
                        <img src="img/ethereum.webp" width="30" height="30" class="d-inline-block align-top" alt="">
                        <label id="ether">0</label>
                    </a>
                <li class="nav-item">
                    <a class="nav-link disabled" style="color:white" id="address">0x...</a>
                </li>
            </ul>
        </nav>
		<main class="container">
			<div class="container border rounded" style="padding: 10px">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 style="color:white">Mint some entryTokens</h3>
                    </div>
                    <div class="col-sm-12">
                        <label style="display: inline-block; width: 140px; color:white">Entry tokens:</label>
                        <input type="number" style="outline: #201e26;" id="quantity" name="quantity" min="1" placeholder="1" onchange="updateEthPrice(); return false;"></input>
                    </div>
                    <div class="col-sm-12">
                        <label style="display: inline-block; width: 140px; color: white;">Price (in ether):</label>
                        <input type="text" style="outline:#201e26;" id="entryEthPrice" name="entryEthPrice" min="1" placeholder="1" readonly></input>
                    </div>
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-outline-light" onclick="mint()">Mint</button>
                    </div>
                </div>
            </div>
            <div class="list-group border rounded text-center" style="padding: 5px;">
                <div id="matchesDiv" class="btn-toolbar justify-content-center" style="background-color: #201e26;">
                    <div class="btn-group">
                        <button id="premierButton" type="button" class="btn btn-outline-light" style="width: 275px; border: none;">
                            <img src="img/Premier_League-Logo.wine.png" width="150" height="100" class="d-inline-block align-top" alt="">
                        </button>
                        <button id="aButton" type="button" class="btn btn-outline-light" style="width: 275px; border: none;">
                            <img src="img/Serie_A.png" width="100" height="100" class="d-inline-block align-top" alt="">
                        </button>
                        <button id="laButton" type="button" class="btn btn-outline-light" style="width: 275px; border: none;">
                            <img src="img/laliga-v-1200x1200.png" width="100" height="100" class="d-inline-block align-top" alt="">
                        </button>
                        <button id="bunButton" type="button" class="btn btn-outline-light" style="width: 275px; border: none;">
                            <img src="img/Logo_Bundesliga.svg.png" width="100" height="100" class="d-inline-block align-top" alt="">
                        </button>
                    </div>
                </div>
                <div id="premierleague"></div>
                <div id="seriea"></div>
                <div id="laliga"></div>
                <div id="bundesliga"></div>
            </div>
            <script>
                function showMatches(leagueId) {
                    ids = ["premierleague", "seriea", "laliga", "bundesliga"];
                    if (leagueId == 0) {
                        currentChampionship = premierleague;
                        divId = "premierleague";
                        document.getElementById("premierButton").classList.add("active");
                        document.getElementById("aButton").classList.remove("active");
                        document.getElementById("laButton").classList.remove("active");
                        document.getElementById("bunButton").classList.remove("active");
                    } else if (leagueId == 1) {
                        currentChampionship = seriea;
                        divId = "seriea";
                        document.getElementById("aButton").classList.add("active");
                        document.getElementById("premierButton").classList.remove("active");
                        document.getElementById("laButton").classList.remove("active");
                        document.getElementById("bunButton").classList.remove("active");
                    } else if (leagueId == 2) {
                        currentChampionship = laliga;
                        divId = "laliga";
                        document.getElementById("laButton").classList.add("active");
                        document.getElementById("premierButton").classList.remove("active");
                        document.getElementById("aButton").classList.remove("active");
                        document.getElementById("bunButton").classList.remove("active");
                    } else if (leagueId == 3) {
                        currentChampionship = bundesliga;
                        divId = "bundesliga";
                        document.getElementById("bunButton").classList.add("active");
                        document.getElementById("premierButton").classList.remove("active");
                        document.getElementById("aButton").classList.remove("active");
                        document.getElementById("laButton").classList.remove("active");
                    }
                    if((divId == "bundesliga" && !bundesligaCreated) || (divId == "laliga" && !laligaCreated) || (divId == "seriea" && !serieaCreated) || (divId == "premierleague" && !premierleagueCreated)) 
                        {
                            for(match in currentChampionship)
                                {
                                    var matchDiv = document.createElement("button");
                                    matchDiv.className = "list-group-item btn-outline-light list-group-item-action";
                                    matchDiv.style.backgroundColor = "#201e26";
                                    //matchDiv.setAttribute("data-toggle", "modal");
                                    //matchDiv.setAttribute("data-target", "#matchModal");

                                    var timeLabel = document.createElement("label");
                                    timeLabel.style.color = "white";
                                    timeLabel.style.display = "inline-block";
                                    timeLabel.style.width = "300px";
                                    timeLabel.style.textAlign = "left";
                                    timeLabel.innerHTML = currentChampionship[match].date + "-" + currentChampionship[match].time;
                                    var matchLabel = document.createElement("label");
                                    matchLabel.style.color = "white";
                                    matchLabel.style.display = "inline-block";
                                    matchLabel.style.width = "300px";
                                    matchLabel.style.textAlign = "center";

                                    var odds = document.createElement("div");
                                    odds.className = "btn-group";
                                    odds.style.display = "inline-block";
                                    odds.style.float = "right";
                                    odds.style.width = "300px";
                                    odds.style.textAlign = "right";
                                    var homeOdds = document.createElement("button");
                                    homeOdds.className = "btn btn-outline-light";
                                    homeOdds.style.width = "100px";
                                    homeOdds.innerHTML = currentChampionship[match].homeodds;
                                    var drawOdds = document.createElement("button");
                                    drawOdds.className = "btn btn-outline-light";
                                    drawOdds.style.width = "100px";
                                    drawOdds.innerHTML = currentChampionship[match].X;
                                    var awayOdds = document.createElement("button");
                                    awayOdds.style.width = "100px";
                                    awayOdds.className = "btn btn-outline-light";
                                    awayOdds.innerHTML = currentChampionship[match].awayodds;
                                    odds.appendChild(homeOdds);
                                    odds.appendChild(drawOdds);
                                    odds.appendChild(awayOdds);

                                    matchLabel.innerHTML = currentChampionship[match].home_team + " - " + currentChampionship[match].away_team;
                                    matchDiv.appendChild(timeLabel);
                                    matchDiv.appendChild(matchLabel);
                                    matchDiv.appendChild(odds);
                                    document.getElementById(divId).appendChild(matchDiv);
                                }
                            if(divId == "bundesliga")
                                bundesligaCreated = true;
                            else if(divId == "laliga")
                                laligaCreated = true;
                            else if(divId == "seriea")
                                serieaCreated = true;
                            else if(divId == "premierleague")
                                premierleagueCreated = true;
                        }
                    for(championship in ids)
                        {
                            if (ids[championship] != divId)
                                document.getElementById(ids[championship]).style.display = "none";
                            else
                                document.getElementById(ids[championship]).style.display = "block";
                        }
                }
                function updateMatch(matchId) {
                    var matchEvent;
                    if (matchId == 0) {
                        matchEvent = document.getElementById("matchEvent0").innerHTML;
                    } else if (matchId == 1) {
                        matchEvent = document.getElementById("matchEvent1").innerHTML;
                    } else if (matchId == 2) {
                        matchEvent = document.getElementById("matchEvent2").innerHTML;
                    } else if (matchId == 3) {
                        matchEvent = document.getElementById("matchEvent3").innerHTML;
                    }
                    document.getElementById("match").innerHTML = matchEvent;
                }
            </script>
            <div class="modal fade" id="matchModal" tabindex="-1" role="dialog" aria-labelledby="matchModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content text-white" style="background-color: #201e26;">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Place your bet</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body text-center">
                    <label id="match" style="color:white; display: inline-block; width: 200px;">...</label>
                      <div class="btn-group-lg text-center">
                        <button type="button" class="btn btn-outline-light" style="width: 120px;">1</button>
                        <button type="button" class="btn btn-outline-light" style="width: 120px;">X</button>
                        <button type="button" class="btn btn-outline-light" style="width: 120px;">2</button>
                      </div>
                      <div class="container text-center">
                        <label type="text" style="color:white; display: inline-block; width: 120px;">1.25</label>
                        <label type="text" style="color:white; display: inline-block; width: 120px;">1.25</label>
                        <label type="text" style="color:white; display: inline-block; width: 120px;">1.25</label>
                      </div>
                      <div class="btn-group-lg text-center">
                        <button type="button" class="btn btn-outline-light" style="width: 120px;">1X</button>
                        <button type="button" class="btn btn-outline-light" style="width: 120px;">12</button>
                        <button type="button" class="btn btn-outline-light" style="width: 120px;">X2</button>
                     </div>
                     <div class="container text-center">
                        <label type="text" style="color:white; display: inline-block; width: 120px;">1.25</label>
                        <label type="text" style="color:white; display: inline-block; width: 120px;">1.25</label>
                        <label type="text" style="color:white; display: inline-block; width: 120px;">1.25</label>
                      </div>
                     <div class="btn-group-lg text-center">
                        <button type="button" class="btn btn-outline-light" style="width: 120px;">GOAL</button>
                        <button type="button" class="btn btn-outline-light" style="width: 120px;">NOGOAL</button>
                        <button type="button" class="btn btn-outline-light" style="width: 120px;">O1.5</button>
                    </div>
                    <div class="container text-center">
                        <label type="text" style="color:white; display: inline-block; width: 120px;">1.25</label>
                        <label type="text" style="color:white; display: inline-block; width: 120px;">1.25</label>
                        <label type="text" style="color:white; display: inline-block; width: 120px;">1.25</label>
                      </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" style="background-color: blueviolet;">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
              
		</main>
	</body>
<!-- Javascript libraries (to ease life) -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!--  Our connection to the blockchain -->
<script src="js/web3.min.js"></script>
<script src="https://unpkg.com/@metamask/legacy-web3@latest/dist/metamask.web3.min.js"></script>


<script>
    //utiility functions
    function fromWei(wei) 
    { return wei / 1000000000000000000; }
    function updateEthPrice()
    {
        var quantity = parseInt(document.getElementById("quantity").value);
        var ethPrice = quantity * entryTokensPrice;
        document.getElementById("entryEthPrice").value = fromWei(ethPrice);
    }
    function updateEther()
    {
        web3.eth.getBalance(myAddress).then(function(result) {
            document.getElementById("ether").innerHTML = web3.utils.fromWei(result, "ether");
            });
    }
    function mint()
    {
        //TODO metamask (you're spending ether here!)
        var quantity = parseInt(document.getElementById("quantity").value);
        var ethPrice = quantity * entryTokensPrice;
        updateEther();
        if(ethPrice > web3.utils.toWei(document.getElementById("ether").innerHTML, "ether"))
        {
            alert("Not enough ether");
            return;
        }
        else
        {
            contract.methods.mint().send({from: myAddress, value: ethPrice}).then(function(result) {
            document.getElementById("entryTokens").innerHTML = parseInt(document.getElementById("entryTokens").innerHTML) + quantity;
            updateEther();
            alert("Congratulations! You have minted " + quantity + " entryTokens");
            });
        }
       
    }
    function updateAccountInfo(address)
    {
        myAddress = address;
        document.getElementById("address").innerHTML = myAddress;
        contract.methods.entryTokens(myAddress).call().then(function(result) 
        {
            document.getElementById("entryTokens").innerHTML = result;
        });
        contract.methods.superTokens(myAddress).call().then(function(result)
        {
        document.getElementById("superTokens").innerHTML = result;
        });
        web3.eth.getBalance(myAddress).then(function(result) 
        {
        document.getElementById("ether").innerHTML = web3.utils.fromWei(result, "ether");
        });
        if(myAddress == creatorAddress)
            document.getElementById("creatorSection").style.display = "block";
        else
            document.getElementById("creatorSection").style.display = "none";
    }
    async function getAddress()
    {
        await window.ethereum.request({ method: 'eth_requestAccounts' }).then(function(result) 
        {
            if (result.length == 0)
            {
                alert("You need to have metamask installed and connected to the blockchain");
                return;
            }
            updateAccountInfo(result[0]);
        });
    }
    async function getContract()
    {
        ABI = await LoadFileToJSON("ABIframe"); // this was in on load of the frame. I moved it here to make it work (i hope)
        contract = new web3.eth.Contract(ABI, contractAddress);
        contract.methods.PRICE().call().then(function(result) {
        entryTokensPrice = result;
        document.getElementById("entryEthPrice").value = web3.utils.fromWei(result, "ether");
        document.getElementById("entryEthPrice").min = web3.utils.fromWei(result, "ether");
        });
    }
</script>

<script>
    $(document).ready(function() {
        console.log("document ready");
        getContract();
        getAddress();
        getMatches();
        document.getElementById("premierButton").addEventListener("click", function() {
            showMatches(0);
        });
        document.getElementById("aButton").addEventListener("click", function() {
            showMatches(1);
        });
        document.getElementById("laButton").addEventListener("click", function() {
            showMatches(2);
        });
        document.getElementById("bunButton").addEventListener("click", function() {
            showMatches(3);
        });

    });
    if (!window.ethereum)
    {
        alert("You need to have metamask installed and connected to the blockchain");
    }
    ethereum.on('accountsChanged', (accounts) => 
        {
            console.log("Account changed to " + accounts[0]);
            updateAccountInfo(accounts[0]);
        });
    
    //getContract();  
    //getMatches();  
</script>