<!DOCTYPE html>
<script>
    //variables declaration
    var ABI;
    var web3;
    var myAddress;
    var entryTokensPrice = 0;
    //var contractAddress = "0x2Db1f4031FA33088162804d22606e4A54B33a258";
    //var creatorAddress = "0x1DA5B6A0aF8F5f5950Dcde01277FD731D1c7774a".toLowerCase();
    var contract;
    var seriea;
    var bundesliga;
    var ligue1;
    var premierleague;
    var eredivisie;
    var laliga;
    var serieaCreated = false;
    var bundesligaCreated = false;
    var ligue1Created = false;
    var premierleagueCreated = false;
    var eredivisieCreated = false;
    var laligaCreated = false;
    var betHash = 0;
    var betAmount = 0;
</script>
       
<html style="min-height: 100%;" lang="en">
	<meta charset="utf-8">
	<head>
		<title>Bet Page</title>
		<!-- fancy styling of the page -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
	</head>
	<body style="background-image:linear-gradient(#201e26, black); font-family: 'Poppins';">
        <iframe id="ABIframe" src="ABI.json" style="display: none;"></iframe>
        <iframe id="serieah" src="/matches/seriea.json" style="display: none;"></iframe>
        <iframe id="laligah" src="/matches/laliga.json" style="display: none;"></iframe>
        <iframe id="bundesligah" src="/matches/bundesliga.json" style="display: none;"></iframe>
        <iframe id="ligue1h" src="/matches/ligue1.json" style="display: none;"></iframe>
        <iframe id="premierleagueh" src="/matches/premierleague.json" style="display: none;"></iframe>
        <iframe id="eredivisieh" src="/matches/eredivisie.json" style="display: none;"></iframe>
        <nav style="background-color: #201e26;">
            <ul class="navbar nav-tabs" style="border: none">
                <li class="nav-item">
                    <a class="nav-link active" href="#" style="color:white; background-color: #201e26;">Bet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="market.html" style="color:white">Market</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color:white">Recap Bets</a>
                </li>
                <li class="nav-item" style="display: none;" id="creatorSection">
                    <a class="nav-link" href="creator.html" style="color:white">Creator</a>
                </li>
                <li class="nav-item ml-auto">
                    <a class="nav-link disabled" style="color:white">
                        <img src="img/entrytoken.webp" width="30" height="30" class="d-inline-block align-top" alt="">
                        <label id="entryTokens">0</label>
                    </a>
                </li>
                <li class="nav-item">
                        <a class="nav-link disabled" style="color:white">
                            <img src="img/supertoken.webp" width="30" height="30" class="d-inline-block align-top" alt="">
                            <label id="superTokens">0</label>
                        </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" style="color:white">
                        <img src="img/ethereum.webp" width="30" height="30" class="d-inline-block align-top" alt="">
                        <label id="ether">0</label>
                    </a>
                <li class="nav-item">
                    <a class="nav-link disabled" style="color:white" id="address">0x...</a>
                </li>
            </ul>
        </nav>
		<main class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-sm-3 d-flex" style="margin-right:auto">
                    <form method="POST" id="betForm">
                        <input type="text" name="betJson" id="betJson" style="display: none;"></input>
                        <input type="text" name="betHash" id="betHash" style="display: none;"></input>
                        <input type="text" name="betAddress" id="betAddress" style="display: none;"></input>
                        <ul id="betslist" class="list-group text-align-center" style="width: 100%;">
                            <li id="betHeader" class="list-group-item" style="background-color: transparent; color: white; border: none; display: none;">
                                <div class="row">
                                        <label id="resultLabel" style="text-align: center; width: 20%;">Result</label>
                                        <label id="matchLabel" style="text-align: center;  width: 60%;">Match</label>
                                        <label id="oddLabel" style="text-align: center;  width: 20%;">Odd</label>
                                </div>
                            </li>
                            <div class="btn-group">
                                <button type="button" class="d-none" id="btnErase" onclick="removeList()" style="width: 20%;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>
                                </button>
                                <input class="d-none" type="number" style="outline: #201e26; width: 60%;" id="betTokens" name="betTokens" onchange="updateWinSum();" min="1"></input>
                                <button class="btn btn-outline-light d-none" id="btnBet" onclick="bet()" style="width: 20%">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                        <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                                    </svg>
                                </button>
                            </div>
                        <li id="oddsSummary" class="list-group-item" style="color: white; background-color: transparent; font-size: 13px; width: 100%; margin-bottom: 5px; padding: 5px; border-radius: 5px; display: none">
                            <label class="float-left" style="text-align: left; font-size: 13px;  width: 20%;"></label>
                            <label class="float-center" style="text-align: center; font-size: 13px;  width: 60%;">Total odd:</label>
                            <label id="oddsSum" class="float-right" style="text-align: center; font-size: 13px;  width: 20%;">1</label>
                        </li>
                        <li id="winSummary" class="list-group-item" style="color: white; background-color: transparent; font-size: 13px; width: 100%; margin-bottom: 5px; padding: 5px; border-radius: 5px; display: none">
                            <label class="float-left" style="text-align: left; font-size: 13px;  width: 20%;"></label>
                            <label class="float-center" style="text-align: center; font-size: 13px;  width: 60%;">Your win:</label>
                            <label id="winAmount" class="float-right" style="text-align: center; font-size: 13px;  width: 20%;">0</label>
                        </li>
                        </ul>
                    </form>
                </div>
                <div class="col-sm-8">
                    <div class="container border rounded" style="padding: 10px">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 style="color:white">Mint some entryTokens</h3>
                            </div>
                            <div class="col-sm-12">
                                <label style="display: inline-block; width: 140px; color:white">Entry tokens:</label>
                                <input type="number" style="outline: #201e26;" id="quantity" name="quantity" min="1" placeholder="1" onchange="updateEthPrice(); return false;"></input>
                            </div>
                            <div class="col-sm-12">
                                <label style="display: inline-block; width: 140px; color: white;">Price (in ether):</label>
                                <input type="text" style="outline:#201e26;" id="entryEthPrice" name="entryEthPrice" min="1" placeholder="1" readonly></input>
                            </div>
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-outline-light" onclick="mint()">Mint</button>
                            </div>
                        </div>
                    </div>
                    <div class="container text-center" style="padding: 30px;">
                    <form id="scrapeForm" method="POST">
                        <button type="submit" onclick="refreshProgress()" class="btn btn-outline-light">Get the latest matches!</button>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" id="progress-bar" style="width: 0%; display: none;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="171"></div>
                        </div>         
                    </form>
                    </div>
                    <div class="list-group border rounded text-center" style="padding: 5px;">
                        <div id="matchesDiv" class="btn-toolbar justify-content-center" style="background-color: #201e26;">
                            <div class="btn-group" style="width: 100%;">
                                <button id="premierButton" type="button" class="btn btn-outline-light" style="width: 25%; border: none;">
                                    <img src="img/premierleague.png" width="150" height="100" class="d-inline-block align-top" alt="">
                                </button>
                                <button id="aButton" type="button" class="btn btn-outline-light" style="width: 25%; border: none;">
                                    <img src="img/seriea.png" width="100" height="100" class="d-inline-block align-top" alt="">
                                </button>
                                <button id="laButton" type="button" class="btn btn-outline-light" style="width: 25%; border: none;">
                                    <img src="img/laliga.png" width="100" height="100" class="d-inline-block align-top" alt="">
                                </button>
                                <button id="bunButton" type="button" class="btn btn-outline-light" style="width: 25%; border: none;">
                                    <img src="img/bundesliga.png" width="100" height="100" class="d-inline-block align-top" alt="">
                                </button>
                            </div>
                        </div>
                        <div id="premierleague"></div>
                        <div id="seriea"></div>
                        <div id="laliga"></div>
                        <div id="bundesliga"></div>
                    </div>            
                </div>
            </div>
		</main>
	</body>
<!-- Javascript libraries (to ease life) -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!--  Our connection to the blockchain -->
<script src="js/web3.min.js"></script>
<script src="https://unpkg.com/@metamask/legacy-web3@latest/dist/metamask.web3.min.js"></script>
<!-- Our functions -->
<script src="js/utils.js"></script>
<script src="js/index.js"></script>

<script>
    $(document).ready(function() {
        console.log("document ready");
        getContract().then(function() {
            console.log("contract set");
            getAddress().then(function() {
                console.log("address set");
                if(betHash != 0)
                {
                    alert("Confirm your bet on metamask");
                    contract.methods.bet(betHash,betAmount).send({from: myAddress}).then(function(result){
                        alert("Bet confirmed");
                        document.getElementById("entryTokens").innerHTML = parseInt(document.getElementById("entryTokens").innerHTML) - betAmount;
                        updateEther();
                    })
                }     
            });
        });
        getMatches();
        document.getElementById("premierButton").addEventListener("click", function() {
            showMatches("premierleague");
        });
        document.getElementById("aButton").addEventListener("click", function() {
            showMatches("seriea");
        });
        document.getElementById("laButton").addEventListener("click", function() {
            showMatches("laliga");
        });
        document.getElementById("bunButton").addEventListener("click", function() {
            showMatches("bundesliga");
        });

    });
    if (!window.ethereum)
    {
        alert("You need to have metamask installed and connected to the blockchain");
    }
    ethereum.on('accountsChanged', (accounts) => 
        {
            console.log("Account changed to " + accounts[0]);
            updateAccountInfo(accounts[0]);
        });  
</script>