<!DOCTYPE html>
<script>
    //variables declaration
    var ABI;
    var web3;
    var myAddress;
    var entryTokensPrice = 0;
    var nfts_files = [];
    var nfts_blockchain = [];
    var contract;
    var bool = ".jpg";
</script>
<html style="min-height: 100%;" lang="en">
	<meta charset="utf-8">
	<head>
		<title>Bet Page</title>
		<!-- fancy styling of the page -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
	</head>
	<body style="background-image:linear-gradient(#201e26, black); font-family: 'Poppins';">
        <iframe id="ABIframe" src="ABI.json" style="display: none;"></iframe>
        <nav style="background-color: #201e26;">
            <ul class="navbar nav-tabs" style="border: none">
                <li class="nav-item" id="betNavItem">
                    <a class="nav-link" href="index.html" style="color:white;">Bet</a>
                </li>
                <li class="nav-item" style="display: none;" id="creatorSection">
                    <a class="nav-link" href="creator.html" style="color:white">Creator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#" style="color:white; background-color: #201e26;">Market</a>
                </li>
                <li class="nav-item" id="recapBetsNavItem">
                    <a class="nav-link" href="recap.html" style="color:white">Recap Bets</a>
                </li>
                <li class="nav-item ml-auto">
                    <a class="nav-link disabled" style="color:white">
                        <img src="img/entrytoken.webp" width="30" height="30" class="d-inline-block align-top" alt="">
                        <label id="entryTokens">0</label>
                    </a>
                </li>
                <li class="nav-item">
                        <a class="nav-link disabled" style="color:white">
                            <img src="img/supertoken.webp" width="30" height="30" class="d-inline-block align-top" alt="">
                            <label id="superTokens">0</label>
                        </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" style="color:white">
                        <img src="img/ethereum.webp" width="30" height="30" class="d-inline-block align-top" alt="">
                        <label id="ether">0</label>
                    </a>
                <li class="nav-item">
                    <a class="nav-link disabled" style="color:white" id="address">0x...</a>
                </li>
            </ul>
        </nav>
		<main class="container">
            <div id="getNFTlabel" class="container-fluid" style="color:white;">
                <h1  style="margin-top: 20px width=10%; display: inline-block;">Get NFTs</h1>
                <button type="button" class="btn btn-outline-light" disabled style="width: 4%; margin-bottom: 1%; display: inline-block; " data-container="body" data-toggle="tooltip" data-placement="top" title="In this section, you can become the first owner of new fancy NFTs by acquiring them with your SuperTokens!&#013;When you click on the 'Get' button, you can choose to put the NFT on the market for the amount of ETH you want (if you specify 0 it means that you don't want to sell it).">
                    <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                      </svg>
                </button>
            </div>
            <div class="container-fluid">
                <div id="getNftContainer" class="row flex-nowrap" style="overflow: auto;">
                </div>
            </div>
            <h1 id="buyNFTlabel" style="color:white; margin-top: 20px;">Buy NFTs</h1>
            <div class="container-fluid">
                <div id="buyNftContainer" class="row flex-nowrap" style="overflow: auto;">
                </div>
            </div>
            <h1 id="myNFTlabel" style="color:white; margin-top: 20px;">My NFTs</h1>
            <div class="container-fluid">
                <div id="myNftContainer" class="row flex-nowrap" style="overflow: auto;">
                </div>
            </div>
		</main>
	</body>
<!-- Javascript libraries (to ease life) -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!--  Our connection to the blockchain -->
<script src="js/web3.min.js"></script>
<script src="https://unpkg.com/@metamask/legacy-web3@latest/dist/metamask.web3.min.js"></script>
<!--  Our contract -->
<script src="js/market.js"></script>
<script src="js/utils.js"></script>

<script>
    $(document).ready(function() {
        console.log("document ready");
        getContract().then(function() {
            console.log("contract set");
            getAddress().then(function() {
                console.log("address set");
                if (nfts_blockchain.length == 0)
                {
                    $("#getNftContainer").append("<h1 style='color:white;'>No NFTs to get</h1>");
                }
                else
                {
                    getIthNFT(0,2);
                    if(myAddress == creatorAddress)
                    {
                        document.getElementById("getNFTlabel").style.display = "none";
                        document.getElementById("buyNFTlabel").style.display = "none";
                        //document.getElementById("myNFTabel").style.display = "none";
                        document.getElementById("betNavItem").style.display = "none";
                        document.getElementById("recapBetsNavItem").style.display = "none";
                    }
                    else
                    {
                        getIthNFT(0,0);
                        getIthNFT(0,1);
                    }
                    

                }
            });
        });
    });
    if (!window.ethereum)
    {
        alert("You need to have metamask installed and connected to the blockchain");
    }
    ethereum.on('accountsChanged', (accounts) => 
        {
            console.log("Account changed to " + accounts[0]);
            updateAccountInfo(accounts[0]);
            //reload the page
            location.reload();
        });  
</script>