<!DOCTYPE html>
<script>
    //variables declaration
    var ABI;
    var web3;
    var myAddress;
    var entryTokensPrice = 0;
    var nfts_files = [];
    var nfts_blockchain = [];
    var contract;
    var bool = ".jpg";
</script>
<html style="min-height: 100%;" lang="en">
	<meta charset="utf-8">
	<head>
		<title>Bet Page</title>
		<!-- fancy styling of the page -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
	</head>
	<body style="background-image:linear-gradient(#201e26, black); font-family: 'Poppins';">
        <iframe id="ABIframe" src="ABI.json" style="display: none;"></iframe>
        <nav style="background-color: #201e26;">
            <ul class="navbar nav-tabs" style="border: none">
                <li class="nav-item">
                    <a class="nav-link" href="index.html" style="color:white;">Bet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#" style="color:white; background-color: #201e26;">Market</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color:white">Recap Bets</a>
                </li>
                <li class="nav-item" style="display: none;" id="creatorSection">
                    <a class="nav-link" href="creator.html" style="color:white">Creator</a>
                </li>
                <li class="nav-item ml-auto">
                    <a class="nav-link disabled" style="color:white">
                        <img src="img/entrytoken.webp" width="30" height="30" class="d-inline-block align-top" alt="">
                        <label id="entryTokens">0</label>
                    </a>
                </li>
                <li class="nav-item">
                        <a class="nav-link disabled" style="color:white">
                            <img src="img/supertoken.webp" width="30" height="30" class="d-inline-block align-top" alt="">
                            <label id="superTokens">0</label>
                        </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" style="color:white">
                        <img src="img/ethereum.webp" width="30" height="30" class="d-inline-block align-top" alt="">
                        <label id="ether">0</label>
                    </a>
                <li class="nav-item">
                    <a class="nav-link disabled" style="color:white" id="address">0x...</a>
                </li>
            </ul>
        </nav>
		<main class="container">
            <h1 id="getNFTlabel" style="color:white; margin-top: 20px;">Get NFTs</h1>
            <div class="container-fluid">
                <div id="getNftContainer" class="row flex-nowrap" style="overflow: auto;">
                </div>
            </div>
            <h1 id="buyNFTlabel" style="color:white; margin-top: 20px;">Buy NFTs</h1>
            <div class="container-fluid">
                <div id="buyNftContainer" class="row flex-nowrap" style="overflow: auto;">
                </div>
            </div>
            <h1 id="myNFTlabel" style="color:white; margin-top: 20px;">My NFTs</h1>
            <div class="container-fluid">
                <div id="myNftContainer" class="row flex-nowrap" style="overflow: auto;">
                </div>
            </div>
		</main>
	</body>
<!-- Javascript libraries (to ease life) -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!--  Our connection to the blockchain -->
<script src="js/web3.min.js"></script>
<script src="https://unpkg.com/@metamask/legacy-web3@latest/dist/metamask.web3.min.js"></script>
<!--  Our contract -->
<script src="js/market.js"></script>
<script src="js/utils.js"></script>

<script>
    $(document).ready(function() {
        console.log("document ready");
        getContract().then(function() {
            console.log("contract set");
            getAddress().then(function() {
                console.log("address set");
                if (nfts_blockchain.length == 0)
                {
                    $("#getNftContainer").append("<h1 style='color:white;'>No NFTs to get</h1>");
                }
                else
                {
                    getIthNFT(0,2);
                    if(myAddress == creatorAddress)
                    {
                        document.getElementById("getNFTlabel").style.display = "none";
                        document.getElementById("buyNFTlabel").style.display = "none";
                        document.getElementById("myNFTabel").style.display = "none";
                    }
                    else
                    {
                        getIthNFT(0,0);
                        getIthNFT(0,1);
                    }
                    

                }
            });
        });
    });
    if (!window.ethereum)
    {
        alert("You need to have metamask installed and connected to the blockchain");
    }
    ethereum.on('accountsChanged', (accounts) => 
        {
            console.log("Account changed to " + accounts[0]);
            updateAccountInfo(accounts[0]);
            //reload the page
            location.reload();
        });  
</script>