<!DOCTYPE html>
<script>
    //variables declaration
    var ABI;
    var web3;
    var myAddress;
    var entryTokensPrice = 0;
    var contract;
</script>
<html style="min-height: 100%;" lang="en">
	<meta charset="utf-8">
	<head>
		<title>Bet Page</title>
		<!-- fancy styling of the page -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
	</head>
	<body style="background-image:linear-gradient(#201e26, black); font-family: 'Poppins';">
        <iframe id="ABIframe" src="ABI.json" style="display: none;"></iframe>
        <nav style="background-color: #201e26;">
            <ul class="navbar nav-tabs" style="border: none">
                <li class="nav-item">
                    <a class="nav-link" href="index.html" style="color:white;">Bet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="market.html" style="color:white;">Market</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#" style="color:white; background-color: #201e26;">Recap Bets</a>
                </li>
                <li class="nav-item ml-auto">
                    <a class="nav-link disabled" style="color:white">
                        <img src="img/entrytoken.webp" width="30" height="30" class="d-inline-block align-top" alt="">
                        <label id="entryTokens">0</label>
                    </a>
                </li>
                <li class="nav-item">
                        <a class="nav-link disabled" style="color:white">
                            <img src="img/supertoken.webp" width="30" height="30" class="d-inline-block align-top" alt="">
                            <label id="superTokens">0</label>
                        </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" style="color:white">
                        <img src="img/ethereum.webp" width="30" height="30" class="d-inline-block align-top" alt="">
                        <label id="ether">0</label>
                    </a>
                <li class="nav-item">
                    <a class="nav-link disabled" style="color:white" id="address">0x...</a>
                </li>
            </ul>
        </nav>
		<main class="container">
            <div id="accordion">
            </div>
		</main>
	</body>
<!-- Javascript libraries (to ease life) -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!--  Our connection to the blockchain -->
<script src="js/web3.min.js"></script>
<script src="https://unpkg.com/@metamask/legacy-web3@latest/dist/metamask.web3.min.js"></script>
<!--  Our contract -->
<script src="js/utils.js"></script>
<script src="js/recap.js"></script>

<script>
    $(document).ready(function() {
        console.log("document ready");
        getContract().then(function() {
            console.log("contract set");
            getAddress().then(function() {
                if(myAddress.toLowerCase() == creatorAddress)
                    document.location.href = "creator.html";
                var cardsList = document.getElementById("accordion");
                var html = "<div class='card'><div class='card-header text-white' style='background-color:#1f0961'>"
                html += "<div class='row'><div class='col-2' ><h6 class='mb-0' style='text-align: left;'> Block</h5></div>";
                html += "<div class='col-8' ><h6 class='mb-0' style='text-align: center;'> Hash </h5></div>";
                html += "<div class='col-2' ><h6 class='mb-0' style='text-align: right;'> Result </h5></div></div>";
                cardsList.innerHTML = html;
                contract.events.BetPayed(function(error, event) {
                    if (!error)
                     {
                        if(event.returnValues.winner.toLowerCase() == myAddress.toLowerCase())
                           {
                            alert("The bet " + event.returnValues.bet + " has been payed, you won "+event.returnValues.amount+" super tokens");
                            location.reload();
                           } 
                     }
                });
                getBets(bets.length-1);
            });
        });
    });
    if (!window.ethereum)
    {
        alert("You need to have metamask installed and connected to the blockchain");
    }
    ethereum.on('accountsChanged', (accounts) => 
        {
            console.log("Account changed to " + accounts[0]);
            if(accounts[0].toLowerCase() == creatorAddress)
                  document.location.href = "creator.html";
            updateAccountInfo(accounts[0]);
            var cardsList = document.getElementById("accordion");
            cardsList.innerHTML = "";
            var html = "<div class='card'><div class='card-header text-white' style='background-color:#1f0961'>"
            html += "<div class='row'><div class='col-2' ><h6 class='mb-0' style='text-align: left;'> Block</h5></div>";
            html += "<div class='col-8' ><h6 class='mb-0' style='text-align: center;'> Hash </h5></div>";
            html += "<div class='col-2' ><h6 class='mb-0' style='text-align: right;'> Result </h5></div></div>";
            cardsList.innerHTML = html;
            getBets(bets.length-1);

        });
</script>